# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.pytest_cache/

# DB
*.db
*.sqlite
*.sqlite3

# Env
.env
.env.local

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/tsconfig.tsbuildinfo
frontend/src/**/*.js
frontend/src/**/*.js.map

# OS
.DS_Store
.idea/
.vscode/
