# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.pytest_cache/

# DB
*.db
*.sqlite
*.sqlite3

# Env
.env
.env.local

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store
.idea/
.vscode/
